<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6 left-side">
                 <!-- Left Side -->
                <div class="wrapper">
                    <img class="product-image img-fluid" src="{{product.images[0]}}"  alt="">
                </div>
            </div>
            
            <div class="col-md-6 right-side">
                
                <!-- Right Side -->

                <!-- 3 stacked columns -->
                <div class="row">

                    <div class="col-12 mb-4">
                        <h3>{{product.title}}</h3>
                    </div>

                    <div class="col-12 mb-5">
                        <div class="card">
                            <p>{{product.description}}</p> 
                        </div> 
                    </div>

                    <div class="col-12 mb-2">
                        <h4>Price: {{product.price | currency:'USD'}}</h4>
                    </div>

                    <div class="col-12 mb-5">
                        <button type="button" class="btn btn-primary btn-lg">Add to Cart</button>
                    </div>

                </div>

            </div>

        </div>
    </div>
    
</body>
</html>