<app-navbar></app-navbar>
<body class="bg-light">
  <div class="container">
 <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body p-5">

            <div class="{{alertClass}}" role="alert">{{textMessage}}</div>

            <h2 class="text-center mb-4">Create Account</h2>
            <form #registerForm="ngForm" (submit)="onSubmitHandler()">
              <div class="mb-3">
                <label for="fullName" class="form-label">Full Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="fullName"
                  placeholder="Enter your full name"
                  required
                  name="fullName"
                  [(ngModel)]="user.name"
                  #fullName="ngModel"
                  [class.is-invalid]="fullName.invalid && fullName.touched"
                />
                @if (fullName.invalid && fullName.touched) {
                    <small class="text-danger">First name is required</small>
                }
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control" 
                  id="email"
                  placeholder="name@example.com"
                  required
                  name="email"
                  [(ngModel)]="user.email"
                  pattern= '^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$'
                  #email = "ngModel"
                  [class.is-invalid]="email.invalid && email.touched"
                />
                @if (email.errors && email.touched) {
                    @if (email.errors) {
                        <small class="text-danger">Email is required</small>
                    }
                    @else {
                    <small class="text-danger">Email is not valid</small>
                    }   
                }
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Create a password"
                  required
                  name="password"
                  [(ngModel)]="user.password"
                  minlength="8"
                  #password = "ngModel"
                />
                @if (password.invalid && password.touched) {
                    <small class="text-danger">Password is not valid</small>
                  }
              </div>
            
              @if (!registerForm.invalid) {
                <button type="submit" class="btn btn-primary w-100 mb-3">Register</button>
              } @else {
                <a class="btn btn-primary btn-lg disabled w-100 mb-3" role="button" aria-disabled="true">Register</a>
              }

              <div class="text-center">
                <p class="mb-0">
                  Already have an account?
                  <a
                    (click)="onClickLogin()"
                    class="already text-decoration-none"
                    >Login</a
                  >
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
